.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 10%;
  background-color: #f9f9f9;
}


.hero-content {
  max-width: 50%;
}

.hero-content h1 {
  font-size: 54px;
  color: #333;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
}

.hero-content h1 span {
  color: black;
}

.hero-content p {
  font-size: 1.1rem;
  color: #555;
  margin-top: 10px;
  line-height: 1.5; 
}


.hero-buttons {
  margin-top: 20px;
  display: flex;
  gap: 12px; 

}

.btn {
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}


.btn-primary {
  background-color: #14b3e4; 
  color: white;
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15); 
}

.btn-primary:hover {
  background-color: #129ac6;
}


.btn-secondary {
  background-color: white;
  color: #333;
  border: 2px solid #ddd;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.btn-secondary:hover {
  border-color: #bbb;
  background-color: #f8f8f8;
}


.hero-image img {
  width: 100%;
  max-width: 500px;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 30px 5%;
  }

  .hero-content {
    max-width: 100%;
  }

  .hero-buttons {
    flex-direction: column;
    align-items: center;
  }

  .hero-buttons .btn {
    width: 100%;
    max-width: 220px; 
    text-align: center;
  }

  .hero-image {
    margin-top: 20px;
  }
}
